section{
    background-color: var(--amarelo);
    padding: 5%;
    width: 100%;
    margin: 0;
}
.limite{
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}
.descricao h1{
    color: #3d348b;
    font-size: 40px;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descricao p{
    padding-top: 20px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
    .imagens{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;    
}
.lado img{
    margin-right: 50px;
    margin-bottom: 20px;
}
.lista{
    width: 100%;
}
.lista li{
    font-size: 18px;
    list-style-type: none;
    padding: 5px;
    padding-left: 50px;
}
.partedebaixo{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.btnlista{
    background: var(--roxo-claro);
    color: var(--branco);
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    opacity: 0.8;
    transition: 0.3s;
}
.btnlista:hover {opacity: 1}