@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

:root{
    --amarelo: #F7B801;
    --roxo: #3D348B;
    --branco: #fff;
    --roxo-claro: #7678ED;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
#inicio{
    display: flex;
    flex-direction: column;
}
.btn2{
    background: var(--amarelo);
    color: var(--roxo);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
}
.btn2:hover {opacity: 1}

.btn{
    background: none;
    color: var(--branco);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}    
.bemvindo{
    width: 100%;
    background-color: var(--roxo-claro);
    padding: 150px;
}

.bemvindo h1{
    font-size: 50px;
    color: var(--roxo);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}

.bemvindo h2{
    font-size: 20px;
    color: var(--roxo);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}

.btnInsc{
    transition: all 0.5s;
    cursor: pointer;
    background: var(--amarelo);
    color: var(--roxo);
    padding: 14px 25px;
    font-size: 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
}

.btnInsc span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.btnInsc span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.btnInsc:hover span {
padding-right: 25px;
}

.btnInsc:hover span:after {
opacity: 1;
right: 0;
}
.inicio{
    display: flex;
    justify-content: space-between;
}

.parcerias{
    background-color: var(--roxo);
    padding-left: 5%;
    padding-right: 5%;
}

.parcerias  h1{
    padding-top: 25px;
    margin: 0;
    width: 100%;
    color: var(--roxo-claro);
    font-size: 40px;
    align-items: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgParceria{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

.imgParceria img{
    border-radius: 80px;
}