

.section-inscricao{
    display: flex;
    background-color: var(--roxo-claro);
}
.formulario h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 0;
    text-align: left;
    padding-bottom: 15px;
}
.formulario {
    padding: 80px;
    justify-content: left;
}

.btn-inscricao{
    background: var(--amarelo);
    color: var(--roxo);
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    opacity: 0.8;
    transition: 0.3s;

}
.btn-inscricao:hover {opacity: 1}
.formulario input{
    border: none;
    padding: 8px;
    border-radius: 80px;
    width: 90%;
    margin: 10px;
}