.plalestrantes{
    background-color: #7678ED;
}

.plalestrantes  h1{
    padding-top: 25px;
    margin: 0;
    width: 100%;
    color: var(--roxo);
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.palestras{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.ofc{
    padding-left: 5%;
    padding-right: 5%;
    width: 30%;
}

.ofc h1{
    font-size: 18px;
}
.ofc p{
    padding-top: 15px;
    font-size: 15;
    text-align: left;
}
.ofc img{
    border-radius: 10px;
}

.btnLearn{
    padding-top: 15px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.btnCron{
    background: var(--amarelo);
    color: var(--roxo);
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    opacity: 0.8;
    transition: 0.3s;
}
.btnCron:hover {opacity: 1}
.center{
    text-align: center;
    justify-content: center;
}